---
import DefaultLayout from "../layouts/WrapperLayout.astro";
import { getEntry } from "astro:content";

const contactPage = await getEntry("pageData", "contact");
---

<DefaultLayout title={contactPage.data.title}>
  <p>{contactPage.data.intro}</p>
</DefaultLayout>
