---
import WrapperLayout from "../layouts/WrapperLayout.astro";
import { getEntry } from "astro:content";

const homepage = await getEntry("pageData", "home");
---

<WrapperLayout title={homepage?.data.title}>
  <p>{homepage?.data.intro}</p>
</WrapperLayout>
